main {
  div {
    #home {
      height: 100vh;
      #homeTitulo {
        padding: 10rem 0 0 10rem;
      }
    }
    #sobre {
      height: 100vh;
      #sobreTitulo {
        padding-top: 2rem;
      }
      #sobreTexto {
        padding: 0 2rem 0 2rem;
      }
    }
    #modulos {
      padding-top: 2rem;
    }
    #presupuestar {
      height: 75vh;
      padding-top: 2rem;
      #presupuestarResultados {
        padding-top: 2rem;
      }
    }
    #contacto {
      height: 25vh;
      padding-top: 2rem;

    }
  }
}