@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  font-family: "Montserrat", sans-serif !important; }

body #mainIndex #menuLateral a {
  z-index: 99;
  position: fixed;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 120px; }
  body #mainIndex #menuLateral a:hover {
    left: -20px; }

body #mainIndex #menuLateral #anclaHome {
  top: 20vh;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }

body #mainIndex #menuLateral #anclaSobre {
  top: 40vh;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }

body #mainIndex #menuLateral #anclaModulos {
  top: 60vh;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }

body #mainIndex #menuLateral #anclaContacto {
  top: 80vh;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }

body #mainIndex div #seccionHome {
  height: 100vh;
  background-image: linear-gradient(270deg, rgba(248, 249, 250, 0) 30%, #212529 60%), url("../assets/images/fondos/fondoHome.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  body #mainIndex div #seccionHome #homeTitulo {
    padding: 10rem 0 0 10rem; }
  body #mainIndex div #seccionHome #homeFrase {
    padding: 5rem 0 0 10rem;
    max-width: 30vw; }
    body #mainIndex div #seccionHome #homeFrase p {
      font-style: italic; }
  body #mainIndex div #seccionHome .scrolldown-wrapper {
    left: 50%;
    position: absolute;
    text-align: center;
    bottom: 10%;
    transform: translate(-50%, -50%); }
  body #mainIndex div #seccionHome .scrolldown {
    border: 2px solid #ffffff;
    border-radius: 30px;
    height: 46px;
    margin: 0 auto 8px;
    text-align: center;
    width: 30px; }
  body #mainIndex div #seccionHome .scrolldown-p1, body #mainIndex div #seccionHome .scrolldown-p2 {
    animation-duration: 1.5s;
    animation-name: scrolldown;
    animation-iteration-count: infinite;
    fill: #ffffff; }
  body #mainIndex div #seccionHome .scrolldown-p2 {
    animation-delay: 0.75s; }

@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translate(0, -8px); }
  50% {
    opacity: 1;
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    transform: translate(0, 8px); } }

body #mainIndex div #seccionSobre #sobreTitulo {
  padding-top: 2rem; }

body #mainIndex div #seccionSobre #sobreTexto {
  padding: 2rem; }

body #mainIndex div #seccionSobre #sobreVentajas {
  padding: 0 2rem 2rem 2rem;
  height: 100%;
  width: 100%; }
  body #mainIndex div #seccionSobre #sobreVentajas ul {
    height: 100%;
    width: 100%;
    padding: 0; }
    body #mainIndex div #seccionSobre #sobreVentajas ul li {
      max-width: 300px;
      padding: 0.5rem;
      margin: 1rem; }
      body #mainIndex div #seccionSobre #sobreVentajas ul li div img {
        margin-right: 0.5rem; }
      body #mainIndex div #seccionSobre #sobreVentajas ul li div div p {
        font-size: 0.60rem !important; }
      body #mainIndex div #seccionSobre #sobreVentajas ul li div div label {
        font-size: 0.70rem !important; }

body #mainIndex div #seccionImagen1 {
  height: 50vh;
  background-image: url("../assets/images/fondos/Imagen1.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

body #mainIndex div #seccionModulos {
  padding: 2rem 0 0 0; }
  body #mainIndex div #seccionModulos #modulosTitulo {
    width: 100vw; }
  body #mainIndex div #seccionModulos #modulosLista {
    padding: 0 2rem 2rem 2rem;
    height: 100%;
    width: 100%; }
    body #mainIndex div #seccionModulos #modulosLista ul {
      height: 100%;
      width: 100%;
      padding: 0; }
      body #mainIndex div #seccionModulos #modulosLista ul li {
        max-width: 300px;
        padding: 0.5rem;
        margin: 1rem; }
        body #mainIndex div #seccionModulos #modulosLista ul li div img {
          margin-right: 1rem; }
        body #mainIndex div #seccionModulos #modulosLista ul li div div p {
          font-size: 0.60rem !important; }
        body #mainIndex div #seccionModulos #modulosLista ul li div div label {
          font-size: 0.70rem !important; }

body #mainIndex div #seccionPresupuestar {
  padding-top: 2rem; }
  body #mainIndex div #seccionPresupuestar #seccionPresupuestar_Texto p {
    padding: 0 2rem 0 2rem; }
  body #mainIndex div #seccionPresupuestar #seccionPresupuestar_Detalles {
    padding-top: 2rem; }
    body #mainIndex div #seccionPresupuestar #seccionPresupuestar_Detalles div #seccionPresupuestar_Detalles_Tabla table {
      width: 95vw; }
      body #mainIndex div #seccionPresupuestar #seccionPresupuestar_Detalles div #seccionPresupuestar_Detalles_Tabla table thead tr {
        height: 47px !important; }
    body #mainIndex div #seccionPresupuestar #seccionPresupuestar_Detalles div #seccionPresupuestar_Detalles_Datos div div {
      padding-top: 1rem; }
      body #mainIndex div #seccionPresupuestar #seccionPresupuestar_Detalles div #seccionPresupuestar_Detalles_Datos div div button {
        margin-bottom: 2rem; }
  body #mainIndex div #seccionPresupuestar #seccionPresupuestar_Formulario div #seccionPresupuestar_Formulario_botonEncargarVivienda {
    padding-bottom: 2rem; }

body #mainIndex div #seccionImagen2 {
  height: 50vh;
  background-image: url("../assets/images/fondos/Imagen2.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

body #mainIndex div #seccionContacto {
  padding-top: 2rem; }
  body #mainIndex div #seccionContacto #contactoUbicacion iframe {
    margin: 0;
    height: 300px;
    padding-bottom: 2rem; }
  body #mainIndex div #seccionContacto div #contactoInformacion ul li {
    padding-left: 2rem; }
    body #mainIndex div #seccionContacto div #contactoInformacion ul li div {
      padding-left: 2rem; }
      body #mainIndex div #seccionContacto div #contactoInformacion ul li div p {
        padding-left: 2rem; }
  body #mainIndex div #seccionContacto div div #contactoDerechosAutor p {
    font-size: 0.75rem !important; }

body #mainPresupuesto div #seccionPresupuesto section #seccionPresupuesto_Lista {
  margin: 2rem;
  width: 95vw; }
  body #mainPresupuesto div #seccionPresupuesto section #seccionPresupuesto_Lista #seccionPresupuesto_Lista_Logo #seccionEncabezado_titulo {
    font-size: 2rem;
    margin: 0; }
  body #mainPresupuesto div #seccionPresupuesto section #seccionPresupuesto_Lista #seccionPresupuesto_Lista_Logo #seccionEncabezado_subtitulo {
    font-size: 1rem;
    margin: 0; }
  body #mainPresupuesto div #seccionPresupuesto section #seccionPresupuesto_Lista #seccionContacto {
    padding-top: 2rem; }
    body #mainPresupuesto div #seccionPresupuesto section #seccionPresupuesto_Lista #seccionContacto #contactoUbicacion iframe {
      margin: 0;
      height: 300px;
      padding-bottom: 2rem; }
    body #mainPresupuesto div #seccionPresupuesto section #seccionPresupuesto_Lista #seccionContacto div #contactoInformacion ul li div {
      padding-left: 2rem; }
      body #mainPresupuesto div #seccionPresupuesto section #seccionPresupuesto_Lista #seccionContacto div #contactoInformacion ul li div h6 {
        font-size: 0.75rem; }
      body #mainPresupuesto div #seccionPresupuesto section #seccionPresupuesto_Lista #seccionContacto div #contactoInformacion ul li div p {
        padding-left: 2rem;
        font-size: 0.75rem; }
    body #mainPresupuesto div #seccionPresupuesto section #seccionPresupuesto_Lista #seccionContacto div div #contactoDerechosAutor p {
      font-size: 0.75rem !important; }
