@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  font-family: "Montserrat", sans-serif !important; }

body main #menuLateral a {
  z-index: 99;
  position: fixed;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 120px; }
  body main #menuLateral a:hover {
    left: -20px; }

body main #menuLateral #anclaHome {
  top: 20vh;
  background-color: #2195F3;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }

body main #menuLateral #anclaSobre {
  top: 40vh;
  background-color: #2195F3;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }

body main #menuLateral #anclaModulos {
  top: 60vh;
  background-color: #2195F3;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }

body main #menuLateral #anclaContacto {
  top: 80vh;
  background-color: #2195F3;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }

body main div #seccionHome {
  height: 100vh;
  background-image: linear-gradient(270deg, rgba(248, 249, 250, 0) 30%, #212529 60%), url("../../../assets/images/fondos/ImagePT6.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  body main div #seccionHome #homeTitulo {
    padding: 10rem 0 0 10rem; }
  body main div #seccionHome #homeFrase {
    padding: 5rem 0 0 10rem;
    max-width: 30vw; }
    body main div #seccionHome #homeFrase p {
      font-style: italic; }
  body main div #seccionHome .scrolldown-wrapper {
    left: 50%;
    position: absolute;
    text-align: center;
    bottom: 10%;
    transform: translate(-50%, -50%); }
  body main div #seccionHome .scrolldown {
    border: 2px solid #ffffff;
    border-radius: 30px;
    height: 46px;
    margin: 0 auto 8px;
    text-align: center;
    width: 30px; }
  body main div #seccionHome .scrolldown-p1, body main div #seccionHome .scrolldown-p2 {
    animation-duration: 1.5s;
    animation-name: scrolldown;
    animation-iteration-count: infinite;
    fill: #ffffff; }
  body main div #seccionHome .scrolldown-p2 {
    animation-delay: 0.75s; }

@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translate(0, -8px); }
  50% {
    opacity: 1;
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    transform: translate(0, 8px); } }

body main div #seccionSobre #sobreTitulo {
  padding-top: 2rem; }

body main div #seccionSobre #sobreTexto {
  padding: 2rem; }

body main div #seccionSobre #sobreVentajas {
  padding: 0 2rem 2rem 2rem;
  height: 100%;
  width: 100%; }
  body main div #seccionSobre #sobreVentajas ul {
    height: 100%;
    width: 100%;
    padding: 0; }
    body main div #seccionSobre #sobreVentajas ul li {
      max-width: 300px;
      padding: 0.5rem;
      margin: 1rem; }
      body main div #seccionSobre #sobreVentajas ul li div img {
        margin-right: 0.5rem; }
      body main div #seccionSobre #sobreVentajas ul li div div p {
        font-size: 0.60rem !important; }
      body main div #seccionSobre #sobreVentajas ul li div div label {
        font-size: 0.70rem !important; }

body main div #seccionImagen1 {
  height: 50vh;
  background-image: url("../../../assets/images/fondos/ImagePT6.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

body main div #seccionModulos {
  padding: 2rem 0 0 0; }
  body main div #seccionModulos #modulosTitulo {
    width: 100vw; }
  body main div #seccionModulos #modulosLista {
    padding: 0 2rem 2rem 2rem;
    height: 100%;
    width: 100%; }
    body main div #seccionModulos #modulosLista ul {
      height: 100%;
      width: 100%;
      padding: 0; }
      body main div #seccionModulos #modulosLista ul li {
        max-width: 300px;
        padding: 0.5rem;
        margin: 1rem; }
        body main div #seccionModulos #modulosLista ul li div img {
          margin-right: 1rem; }
        body main div #seccionModulos #modulosLista ul li div div p {
          font-size: 0.60rem !important; }
        body main div #seccionModulos #modulosLista ul li div div label {
          font-size: 0.70rem !important; }

body main div #seccionPresupuestar {
  padding-top: 2rem; }
  body main div #seccionPresupuestar #presupuestarResultados {
    padding-top: 2rem; }

body main div #seccionImagen2 {
  height: 50vh;
  background-image: url("../../../assets/images/fondos/ImagePT7.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

body main div #seccionContacto {
  padding-top: 2rem; }
  body main div #seccionContacto #contactoUbicacion iframe {
    margin: 0;
    height: 300px;
    padding-bottom: 2rem; }
  body main div #seccionContacto div #contactoInformacion ul li {
    padding-left: 2rem; }
    body main div #seccionContacto div #contactoInformacion ul li div {
      padding-left: 2rem; }
      body main div #seccionContacto div #contactoInformacion ul li div p {
        padding-left: 2rem; }
  body main div #seccionContacto div div #contactoDerechosAutor p {
    font-size: 0.75rem !important; }

@media screen and (max-width: 575.98px) {
  #mainSobre {
    height: 110vh; }
    #mainSobre div div div div div .h-100 img {
      height: 200px !important; } }

@media screen and (max-width: 767.98px) {
  #mainSobre {
    height: 110vh; }
    #mainSobre div div div div div .h-100 img {
      height: 200px !important; }
  footer {
    height: 16vh !important; }
    footer div section {
      display: flex;
      align-items: center;
      flex-direction: column; } }

@media screen and (max-width: 991.98px) {
  header div {
    width: 100vw; }
  #mainSobre {
    height: 110vh; }
    #mainSobre div div div div div div img {
      height: 300px !important; }
  #mainCircuitos div div div div img {
    width: 100px !important; }
  #mainContacto div div {
    width: 100%; } }

@media screen and (min-width: 992px) {
  #mainSobre div div div div div article {
    width: 100% !important; }
  #mainSobre div div div div div div {
    width: 100% !important; }
    #mainSobre div div div div div div img {
      height: 300px !important; } }

@media screen and (min-width: 992px) and (max-width: 1252px) {
  header div nav div div ul li {
    padding: 0 2rem !important; }
  #mainSobre div div div div div article {
    width: 100% !important; } }

@media screen and (max-width: 1199.98px) {
  #mainSobre {
    height: 110vh; }
    #mainSobre div div div div {
      display: flex;
      flex-direction: column; }
  #mainGaleria {
    padding-top: 3rem !important; }
  #mainCircuitos div div .circuitos div #imagen_circuito {
    width: 400px !important; }
  #mainContacto div div div div iframe {
    width: 450px; } }

@media screen and (min-width: 1200px) {
  #mainSobre div div div div div {
    display: flex;
    flex-direction: row; }
    #mainSobre div div div div div article {
      width: 50% !important; }
    #mainSobre div div div div div div {
      width: 50% !important; }
  #mainGaleria {
    padding-top: 1rem !important; } }

@media screen and (min-width: 1400px) {
  #mainGaleria div {
    height: 95% !important; }
    #mainGaleria div .galeria div div div {
      height: 100px !important; } }
